$primary: #38b45c;
$primary-black: #1e1e1e;
$primary-black-font: #1b1b1b;
$primary-grey: #696973;
$auth-input-border: #b8b8ba;
$primary-green: #38b45c;
$inputs-background: #eee;
$primary-mint-green: #75d5c9;
$primary-input-color: #3f4254;
$input-placeholder-color: #c8c0c0;
$input-value-color: #000;
$error-color: red;
$primary-grey-text: #a5a5a5;
$primary-dark-grey-text: #475467;
