$app-palette: (
  50: #e6e6ef,
  100: #c0c0d7,
  200: #9696bc,
  300: #6c6ba1,
  400: #4d4c8d,
  500: #2d2c79,
  600: #282771,
  700: #222166,
  800: #1c1b5c,
  900: #111049,
  A100: #8383ff,
  A200: #5050ff,
  A400: #1d1dff,
  A700: #0303ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
