<form [formGroup]="loginForm">
  <app-general-input
    type="email"
    formControlName="email"
    label="{{ 'AUTH.LOGIN.EMAIL_INPUT.TITLE' | translate }}"
    placeholder="{{ 'AUTH.LOGIN.EMAIL_INPUT.PLACEHOLDER' | translate }}"
    [errors]="getControlErrors('email')"
    [isSubmitted]="isSubmitted"
    [isAuthInput]="true"
  ></app-general-input>

  <app-general-input
    type="password"
    formControlName="password"
    label="{{ 'AUTH.LOGIN.PASSWORD_INPUT.TITLE' | translate }}"
    placeholder="{{ 'AUTH.LOGIN.PASSWORD_INPUT.PLACEHOLDER' | translate }}"
    [errors]="getControlErrors('password')"
    [isSubmitted]="isSubmitted"
    [isAuthInput]="true"
  ></app-general-input>

  <div class="error-wrapper">
    <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
  </div>

  <div class="mb-8">
    <app-general-button
      (btnClicked)="submit()"
      type="submit"
      title="{{ 'AUTH.LOGIN.BUTTON' | translate }}"
      [disabled]="!loginForm.valid"
    />
  </div>
</form>
